<section class="interior-header">
    <figure>
        <picture>
            <source type="image/webp" srcset="https://wellsenterprisesinc.azureedge.net/content/images/featured_images/product-snowflake.webp">
            <img class="desktop-version" alt="" src="https://wellsenterprisesinc.azureedge.net/content/images/featured_images/product-snowflake.jpg">
        </picture>
        <picture>
            <source type="image/webp" srcset="https://wellsenterprisesinc.azureedge.net/content/images/featured_images/product-snowflake-mobile.webp">
            <img class="mobile-version" alt="" src="https://wellsenterprisesinc.azureedge.net/content/images/featured_images/product-snowflake-mobile.jpg">
        </picture>
        <figcaption>
            <h1>Introducing the perfect combination</h1>
        </figcaption>
    </figure>
    <nav class="nav-breadcrumbs" itemscope="" itemtype="http://schema.org/Article">
        <div class="container">
            {{!-- <ul class="no-bullets">
                <li><a href="/"><i class="fa fa-home"></i></a> <i class="fa fa-angle-right"></i></li>
                <li class="current-page">Brands</li>
            </ul> --}}
        </div>
    </nav>
</section>