<footer class="footer mobile">
    <div class="h1 footer-title">Hello. <br>Let’s Talk.</div>
    <div class="content-container">
        <div class="new-business-container">
            <div class="h4 title">New Business</div>
            <div class="email">lsharbono@go-yamamoto.com</div>
            <div class="phone">+1 612 573 6243</div>
        </div> 
        <div class="address-container">
            <div class="h4 title">Office</div>
            <div class="address-1">219 N. 2nd Street, #200</div>
            <div class="address-2">Minneapolis, MN 55401</div>
        </div>  
        <div class="logo">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z" fill="#E6E6E6"/>
                <path d="M54.4491 25.0215H25.3489V42.735H32.4465V32.1191H37.6278V42.005C37.6998 44.026 36.9918 45.9972 35.6506 47.5107C34.1499 49.1026 31.8179 49.9036 28.7152 49.9036C25.6126 49.9036 23.2805 49.1026 21.7799 47.5107C20.4386 45.9972 19.7307 44.026 19.8027 42.005V25.0722H12.7051V41.9847C12.7051 49.711 17.8255 56.9809 28.7051 56.9809C39.5847 56.9809 44.7051 49.711 44.7051 41.9847V32.1191H53.3135H54.4491C56.4521 31.9966 58.426 32.6461 59.9649 33.934C61.5568 35.4347 62.3578 37.7769 62.3578 40.8694C62.3578 43.9619 61.5568 46.3041 59.9649 47.8048C58.4518 49.1587 56.4789 49.884 54.4491 49.8326H42.6569V56.9302H54.4491C62.1753 56.9302 69.4452 51.749 69.4452 40.8592C69.4452 29.9695 62.1753 25.0215 54.4491 25.0215Z" fill="#303030"/>
            </svg>
        </div>
    </div>
    <div class="links">
        <ul>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Legal</a></li>
        </ul>
    </div> 
    <div class="copyright">© 2022 Underground Digital</div>
</footer>

<footer class="footer desktop">
    <div class="h1 footer-title">Hello. <br>Let’s Talk.</div>
    <div class="content-container">
        <div class="new-business-container">
            <div class="h4 title">New Business</div>
            <div class="email">lsharbono@go-yamamoto.com</div>
            <div class="phone">+1 612 573 6243</div>
        </div> 
        <div class="address-container">
            <div class="h4 title">Office</div>
            <div class="address-1">219 N. 2nd Street, #200</div>
            <div class="address-2">Minneapolis, MN 55401</div>
            <div class="links">
                <ul>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Legal</a></li>
                </ul>
            </div> 
        </div>  
        <div class="logo">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z" fill="#E6E6E6"/>
                <path d="M54.4491 25.0215H25.3489V42.735H32.4465V32.1191H37.6278V42.005C37.6998 44.026 36.9918 45.9972 35.6506 47.5107C34.1499 49.1026 31.8179 49.9036 28.7152 49.9036C25.6126 49.9036 23.2805 49.1026 21.7799 47.5107C20.4386 45.9972 19.7307 44.026 19.8027 42.005V25.0722H12.7051V41.9847C12.7051 49.711 17.8255 56.9809 28.7051 56.9809C39.5847 56.9809 44.7051 49.711 44.7051 41.9847V32.1191H53.3135H54.4491C56.4521 31.9966 58.426 32.6461 59.9649 33.934C61.5568 35.4347 62.3578 37.7769 62.3578 40.8694C62.3578 43.9619 61.5568 46.3041 59.9649 47.8048C58.4518 49.1587 56.4789 49.884 54.4491 49.8326H42.6569V56.9302H54.4491C62.1753 56.9302 69.4452 51.749 69.4452 40.8592C69.4452 29.9695 62.1753 25.0215 54.4491 25.0215Z" fill="#303030"/>
            </svg>
            <div class="copyright">© 2022 Underground Digital</div>
        </div>
        
    </div>
    
    
</footer>