<nav class="header-nav-primary">
  <div class="container">
    <a class="logo" href="/">
      <img alt="Wells Enterprises" src="https://wellsenterprisesinc.azureedge.net/content/images/wells-logo.v2.svg">
    </a>                   
    <ol>
      <li class="nav-item--level-1 ">
          <a id="HomeNavLink" href="/index">Home</a>
      </li>
      <li class="nav-item--level-1  nav-item--has-children">
          <a id="NewsNavLink" href="/news">News</a>
      </li>
      <li class="nav-item--level-1 nav-item--is-current nav-item--has-children">
          <a id="FaqNavLink" href="/faq">FAQ</a>
      </li>
    </ol>
  </div>
</nav>